In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [56]:
movies = pd.read_csv('./blockbusters.csv')

In [58]:
# Delete unessecary columns
movies.drop('Genre_2',axis=1,inplace=True)
movies.drop('Genre_3',axis=1,inplace=True)

In [59]:
movies.tail()

,Main_Genre,imdb_rating,length,rank_in_year,rating,studio,title,worldwide_gross,year
432,Thriller,7.1,113,6,G,Metro-Goldwyn-Mayer,The Return of the Pink Panther,"$41,833,347.00",1975
433,Music,6.4,136,7,PG,Columbia Pictures,Funny Lady,"$39,000,000.00",1975
434,Family,6.2,100,8,G,Walt Disney Pictures,The Apple Dumpling Gang,"$36,853,000.00",1975
435,Drama,6.0,88,9,PG,Columbia Pictures,"Aloha, Bobby and Rose","$35,000,000.00",1975
436,Drama,6.4,103,10,PG,Universal Pictures,The Other Side of the Mountain,"$34,673,100.00",1975

In [60]:
# Convert worldwide_gross column to number.
def gross_to_float(mov):
    gross_str = mov['worldwide_gross'];
#   Remove dollar sign
    return float(gross_str[1:].replace(',',''))
    
    
movies['worldwide_gross'] = movies.apply(gross_to_float,axis=1)

### Highest grossing movie of all time

In [81]:
highest_grossing_movie = movies.iloc[movies['worldwide_gross'].idxmax()]
title = highest_grossing_movie['title']
gross = highest_grossing_movie['worldwide_gross']
print('Title: {}\nGross: ${:,.2f}'.format(title,gross))

Title: Avatar
Gross: $2,749,064,328.00

### Longest movie of all time

In [80]:
longest_movie = movies.iloc[movies['length'].idxmax()]
title = longest_movie['title']
length = int(longest_movie['length'])
hours = int(length / 60)
minutes = length % 60

print('Title: {}\nLength: {} hours {} minutes'.format(title,hours,minutes))

Title: The Lord of the Rings: The Return of the King
Length: 3 hours 21 minutes

### Highest rating all time

In [85]:
highest_rating = movies.iloc[movies['imdb_rating'].idxmax()]
title = highest_rating['title']
rating = highest_rating['imdb_rating']

print('Title: {}\nRating: {}'.format(title,rating))

Title: The Dark Knight
Rating: 9.0

### Studio with most appearances in the blockbuster

In [102]:
studios_rank = movies['studio'].value_counts()
studio = studios_rank.keys()[0]
count = studios_rank[0]

print('Studio: {}\nAppearances: {} out of {}'.format(studio,count,movies.shape[0]))

Studio: Warner Bros
Appearances: 87 out of 437

In [ ]:
#