In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [9]:
movies = pd.read_csv('./blockbusters.csv')

In [11]:
# Delete unessecary columns
movies.drop('Genre_2',axis=1,inplace=True)
movies.drop('Genre_3',axis=1,inplace=True)

In [21]:
movies.tail()

,Main_Genre,imdb_rating,length,rank_in_year,rating,studio,title,worldwide_gross,year
432,Thriller,7.1,113,6,G,Metro-Goldwyn-Mayer,The Return of the Pink Panther,"$41,833,347.00",1975
433,Music,6.4,136,7,PG,Columbia Pictures,Funny Lady,"$39,000,000.00",1975
434,Family,6.2,100,8,G,Walt Disney Pictures,The Apple Dumpling Gang,"$36,853,000.00",1975
435,Drama,6.0,88,9,PG,Columbia Pictures,"Aloha, Bobby and Rose","$35,000,000.00",1975
436,Drama,6.4,103,10,PG,Universal Pictures,The Other Side of the Mountain,"$34,673,100.00",1975

In [17]:
movies[movies['year'] == 2018]

,Main_Genre,imdb_rating,length,rank_in_year,rating,studio,title,worldwide_gross,year
0,Action,7.4,135,1,PG-13,Walt Disney Pictures,Black Panther,"$700,059,566",2018
1,Action,8.5,156,2,PG-13,Walt Disney Pictures,Avengers: Infinity War,"$678,815,482",2018
2,Animation,7.8,118,3,PG,Pixar,Incredibles 2,"$608,581,744",2018
3,Action,6.2,129,4,PG-13,Universal Pictures,Jurassic World: Fallen Kingdom,"$416,769,345",2018
4,Action,7.8,119,5,R,20th Century Fox,Deadpool 2,"$318,491,426",2018
5,Action,7.9,147,6,PG-13,Paramount Pictures,Mission: Impossible - Fallout,"$220,159,104",2018
6,Action,7.2,118,7,PG-13,Walt Disney Pictures,Ant-Man and the Wasp,"$216,648,740",2018
7,Action,7.0,135,8,PG-13,Walt Disney Pictures,Solo: A Star Wars Story,"$213,767,512",2018
8,Action,6.9,112,9,PG-13,Columbia Pictures,Venom,"$213,030,843",2018
9,Music,8.1,135,10,R,Warner Bros,A Star is Born,"$199,721,727",2018

In [23]:
# sns.barplot(x='studio',y='worldwide_gross',data=movies)